body {
    font-size: 24px;
}
button:active {
    filter: brightness(90%);
}
#calculator{
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 140px;
    padding: 2px;
    background-color: #EEE;
}
#display{
    border-style: solid;
    color:white;
    background-color:black;
    text-align: right;
    padding-right: 3px;
}
#button-container{
    display: flex;
}
#number-container{
    display: flex;
    flex-direction: column;
}
#operators{
    display: flex;
    flex-direction: column;
}
#misc{
    display: flex;
    flex-direction: column;
}
.number-row{
    display: flex;
}
.number, .operator, .clear, .equals, .back{
    background-color: lightgray;
    min-width: 24px;
    margin: 2px;
    padding: 2px;
}
.number {
    background-color: #FDF;
}
.operator {
    background-color: #DFF;
}
.equals {
    background-color: #FFD;
    flex-grow: 1;
}
.clear, .back {
    background-color: #DDF;
}